<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Cloud Bot</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>


  </head>
</script>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
          <h3 class="text-muted">Cloud Bot</h3>
          </div>
      <div>
          <nav>
                <ul class="nav nav-pills pull-left">
                    <li role="presentation" class="active"><a href="/userHome">Data Lake</a>
                    </li>
                    <li role="presentation"><a href="/S3tab">AWS S3</a>
                    </li>
                    <li role="presentation"><a href="/redshiftTab">AWS RedShift</a>
                    </li>
                </ul>
            </nav>
        </div>

      <div class="jumbotron" style="margin-top:10px;">
         <h4 style="margin-left:-420px">{{table_name}}- Select Fields </h4>

            <form action="/maskdata" method="post">
               <button type="submit" value="Submit">Mask Fields</button>
                <input type='hidden' name='table_name' value={{table_name}}>
               <ol>

            {% for names in data %}
                 <li>
                 <div style="margin-top:10px;margin-left:-350px;">
                 <input type="checkbox" name="input_attributes"  value={{names[0]}} ><h5>{{names[0]}}</h5></in$
                </div>
                </li>
            {% endfor %}
            </ol>
        </form>

  </div>
      <footer class="footer">
        <p>&copy; CLOUDBOT 2017</p>
      </footer>


    </div>
  </body>
</html>

