<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cloud Bot</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>


  </head>
  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
          <h3 class="text-muted">Cloud Bot</h3>
             </div>
      <div>
          <nav>
                <ul class="nav nav-pills pull-left">
                    <li role="presentation"><a href="/userHome">Data Lake</a>
                    </li>
                    <li role="presentation"><a href="/S3tab">AWS S3</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">AWS RedShift</a>
                    </li>
                </ul>
            </nav>
      </div>


      <div class="jumbotron" style="margin-top:10px;">
            <h4 style="margin-left:-400px">Redshift Tables</h4>

                <ol>

            {% for names in data %}
                 <li>
                 <div style="margin-top:10px;margin-left:-350px;">
                 <h5 style="margin-left:10px;">{{names}}</h5>
                </div>
                </li>
            {% endfor %}
            </ol>
        
     </div>
      <footer class="footer">
        <p>&copy; CLOUDBOT 2017</p>
      </footer>


    </div>
  </body>
</html>

